################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codigo/s_virtual/Arreglos/x64/Debug
/codigo/s_virtual/Repaso/x64/Debug
